.admin-homepage-container {
    max-width: 700px;
    margin: 3rem auto;
    text-align: center;
    color: whitesmoke;
}
.admin-homepage-container h1 {
    margin-bottom: 1rem;
    color: whitesmoke;
}
.admin-links  a{
    display:flex;
    text-decoration: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    color: whitesmoke;
}
.admin-links a:hover {
    text-decoration: underline;
}