body {
    background-color: rgba(29, 29, 34, 0.932);
}
hr {
    background-color: rgba(2, 2, 2, 0.932);
    border-color: rgba(2, 2, 2, 0.932);
}

.buttons {
    display: flex;
    padding: 1rem;
    gap: 40px;
    justify-content: center;
}
button {
  padding: 10px 20px;           /* space inside the button */
  flex: 1 1 150px;
  max-width: 150px;
  font-size: 16px;              /* text size */
  background-color: rgba(152, 2, 2, 0.826);    /* button background */
  color: white;                 /* text color */
  border: 1px solid #6e0202d3;    /* border color */
  border-radius: 5px;           /* rounded corners */
  cursor: pointer;              /* pointer on hover */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* subtle shadow */
  transition: all 0.2s ease;    /* smooth hover effect */
}
button:hover {
    background-color: #6e0202d3;
}
.moviecard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.movie-title{
  text-align: center;
  color: rgb(202, 199, 199);
  margin-top: 0px;
}
.showtimes{
  color: rgb(202, 199, 199);
  margin-top: 0px;
  font-size: 14px;
}