body{
    color: whitesmoke;
}
.showtime-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.add-showtime-button{
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}