spring:
  application:
    name: backend

  datasource:
    url: jdbc:sqlite:./backend/cinema.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: create-drop

logging:
  level:
    org.springframework.jdbc.core: DEBUG
